/* Mobile */

/* Global */
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

/* Toolbar */
header {
  display: flex;
  padding: 24px;
}

header .logo{
  display: block;
}

.logo a {
  padding: 20px 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-decoration: none;
  color: #000001;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  flex: 1;
  padding: 10px 20px;
}

nav > div {
  width: 16px;
  height: 2px;
  background: #000001;
  margin: 2px;
  border-radius: 50px;
}
nav ul{
  display: none;
}

/* Headline */
main {
  background-image: url("/images/bg1.png");
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
}

#headline {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 24px;
}

.fonts,
h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  padding: 0 20px;
}

#headline .intro {
  color: #0a2759;
  padding-top: 60px;
}

#headline .bg {
  color: #36b37f;
}

.pad {
  padding: 0 24px;
}

.more {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  font-style: normal;
  text-align: center;
  color: #172b4b;
  margin-bottom: 20px;
}

.card-content ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 16px 0;
}

.content-exp ul {
  list-style-type: none;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 12px;
  margin-bottom: 10px;
}

.social-account ul {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
}

ul li {
  list-style-type: none;
}

.social-account ul li {
  margin-left: 15px;
}

.social-account a i {
  color: #505f79;
  font-size: 22px;
}

.arrow-down button {
  border: 1px solid #dfe1e6;
  background: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 32px;
  margin: auto;
  margin-top: 30px;
}

.arrow-down button i {
  color: #505f79;
  font-weight: 400;
  width: 20px;
}

#works {
  padding: 16px;
}

.title {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  line-height: 52px;
  color: #172b4d;
}

#works hr {
  width: 48px;
  height: 4px;
  margin: 10px auto;
  background: #36b37e;
  border-radius: 24px;
}

#grid {
  display: inline-grid;
  grid-template-columns: 1fr;
  grid-template-rows: 470px 470px 470px 470px 470px 470px;
  gap: 15px;
  padding: 10px;
}

#grid .card-container {
  background: #ebf0ee;
  border-radius: 8px;
  border: 2px solid #c3c7c5;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.card-container .card-image {
  flex: 1.3;
}

.card-image img {
  height: 100%;
  width: 100%;
  border-radius: 8px 8px 0 0;
  opacity: 0.1;
}

.card-container .card-body {
  flex: 1;
  background: #fff;
  border-radius: 14px 14px 8px 8px;
  padding: 12px;
}

.card-body .card-title h2 {
  font-style: normal;
  font-weight: 600;
  text-align: center;
  font-size: 24px;
  line-height: 32px;
  color: #3a4a42;
}

.card-content ul li {
  background: #ebf0ee;
  padding: 8px 7px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
}

.card-button {
  display: flex;
  justify-content: center;
  padding-top: 12px;
}

.button {
  padding: 12px;
  height: 48px;
  border: 0px;
  border-radius: 4px;
  background: #36b37f;
  color: #fff;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 3%;
  line-height: 24px;
}

.button:hover {
  background: #58d3a0;
}

.button:active {
  background: #008552;
}

.button + [desabled] {
  background: #36b37f;
}

#about-myself {
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  position: relative;
  background:
    url("../images/frameup.png"),
    url("../images/Framed.png");
  background-repeat: no-repeat, no-repeat;
  background-position: top right, bottom left;
}

#about-myself h2 {
  padding-top: 25px;
  margin-top: 20px;
}

#about-myself button {
  margin-top: 15px;
}

#experience {
  display: grid;
  grid-template-columns: 327px;
  grid-template-rows: 352px 352px 352px;
  gap: 24px;
  padding: 20px;
}

.card-exp {
  background: #ebf0ee;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.profile-exp {
  flex: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-exp {
  flex: 1;
}

.profile-exp .image {
  background: rgb(255, 255, 255);
  width: 80px;
  height: 80px;
  border-radius: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-exp h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #344563;
  text-align: center;
  margin-bottom: 10px;
}

.content-exp ul li {
  padding: 12px;
  border-radius: 8px;
  background: #fff;
  color: #36b37e;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.contact-form ul {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  padding: 24px;
}

.contact-form ul li {
  width: 100%;
}

.contact-form ul li:nth-child(4) {
  text-align: center;
}

.footer-social-account .footer-email{
  display: block;
}

.contact-form input,
textarea {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  width: 100%;
  padding: 16px;
}

.contact-form input {
  height: 48px;
}

.contact-form textarea {
  height: 114px;
  outline-color: #36b37e;
}

.contact-form input:focus {
  outline: none !important;
  border: 1px solid #60c095;
}

.contact-form textarea:focus {
  outline: none !important;
  border: 1px solid #60c095;
}

.social-account p {
  margin-top: 20px;
  margin-bottom: 80px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
}

.footer-social-account ul {
  margin-top: -50px;
  justify-content: center;
  font-size: 18px;
}

form {
  background: url("/images/bg-foot.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  padding-bottom: 60px;
}

/* Tablet */

/* Desktop */
@media screen and (min-width: 768px){
  header .logo{
    display: none;
  }

  nav > div {
    display: none;
  }

  nav ul{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 30px;
  }

  nav ul a{
    margin-bottom: 20px;
    color: #0a2759;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    font-style: normal;
    text-align: center;
    text-decoration: none;
  }

  header{
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
  }

  main{
    background-image:url("");
  }

  #headline{
    background-image:url("/images/desk-bg-headline.png");
    background-repeat: no-repeat;
    background-size: 100% 122vh;
    background-position:  top center ;
    background-attachment: scroll;
    height: 117vh;
    justify-content: center;
  }
  
  #headline > div{
    width: 50%;
    margin: 0 auto;
    line-height:30px;
  }

  .fonts,
  h1 {
    font-weight: 800;
    font-size: 48px;
    line-height: 50px;
    text-align: center;
    letter-spacing: .37px;
  }

  .more {
    font-weight: 400;
    font-size: 30px;
    line-height: 32px;
    font-style: normal;
    text-align: center;
    color: #172b4b;
  }

  #headline > div+.social-account ul{ 
    margin-top: 20px;
    margin-bottom: 64px;
    display: flex;
    justify-content: space-between;
    width: 30%;
  }

  #works{}

  #grid {
    display:grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
    justify-content: center;
    margin:0 142px;

  }
  
  #grid .card-container {
    
  }

  #grid .card-container .card-image {
    height: 350px;
    background-image: url("/images/bg-gray.jpg");
    background-size: cover;
    background-blend-mode: darken;
  }
  
  hr{
    display: none;
  }
  .title{
    margin-bottom: 24px;
  }

  #grid .card-image img {
    height: 100%;
    width: 100%;
    border-radius: 8px 8px 0 0;
    opacity: 0.7;
    background: rgb(44, 207, 139);
  }

  .card-body .card-title h2 {
    font-weight: 800;
    font-size: 28px;
  }

  .card-content ul li{
    letter-spacing: 0.03em;
    font-size: 14px;
  }

  #about-myself{
    padding-top: 24px;
    margin-top: 40px;
    background-image:
      url("/images/left-desk.png"), 
      url("/images/right-dest.jpg");
      background-position: bottom left, top right;
  }

  #about-myself .more {
    width: 55%;
    line-height: 42px;
  }

  #experience{
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(1, 352px);
    justify-content:center;
  }

  .card-exp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card-exp .profile-exp{
    flex: 1;
  }

  .card-exp .content-exp{
    flex: 1;
  }

  .content-exp ul li {
    letter-spacing: 0.04em;
    font-size: 14px;
  }

  form{
    background-image:url("");
  }

  footer{
    flex-direction: column;
    padding-top: 40px;
    box-sizing: content-box;
  }
  
  .contact-form ul li:nth-child(4) {
    text-align: left;
  }
  
  #contact .footer-content{
    display: grid;
    grid-template-columns: .8fr 1.2fr;
    justify-content: center; 
    align-items: center;
    padding: 0px 134px;
    background-image: url("/images/left.png"), url("/images/center.png"),url("/images/right.png");
    background-repeat: no-repeat, no-repeat;
    background-position: bottom left, 400px 300px,bottom right;
    padding-bottom: 50px;
    border-bottom: 2px gray solid;
    margin-bottom: 60px;
  }

  .footer-content p{
    padding-bottom: 40px;
  }

  footer#contact .social-account ul{
    padding: 20px 0px;
    font-size: 30px;
  }

  footer#contact .social-account ul li a i{
    font-size:30px;
    padding: 0px 10px;
  }

  .footer-social-account .footer-email{
    display: none;
  }
  
}