/* Mobile */
/* Global */
*, ::after, ::before{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
}
/* Toolbar */

/* Headline */

/* Tablet */

/* Desktop */