/* Mobile */

/* Global */
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

/* Toolbar */
header {
  display: flex;
}

.logo {
  padding: 20px 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  flex: 1;
  padding: 10px 20px;
}

nav > div {
  width: 16px;
  height: 2px;
  background: #000001;
  margin: 2px;
  border-radius: 50px;
}

/* Headline */
main {
  height: 130vh;
  padding: 20px 0;
}

#headline {
  background-image: url("/images/bg1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  height: inherit;
  padding: 0 20px;
  width: 100%;
}

.fonts {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
}

#headline .intro {
  color: #0a2759;
  padding-top: 84px;
}

#headline .bg {
  color: #36b37f;
}

#headline .more {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4b;
  padding-top: 58px;
}

#headline .social-account ul {
  padding-top: 73px;
  padding-bottom: 73px;
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin: auto;
  list-style-type: none;
}

.social-account a i {
  color: #505f79;
  font-size: 22px;
}

.arrow-down button{
  border: 1px solid #DFE1E6;
  background: #FFF;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 32px;
  margin: auto;
}

.arrow-down button  i{
  color: #505f79;
  font-weight: bold;
  width: 20px;
}

/* Tablet */

/* Desktop */
